body {
    background-color: rgb(130, 129, 184);
}
.button {
  border: dashed, rgb(36, 9, 133);
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(230, 118, 172);
 
}

header{
    background-color: rgb(152, 237, 240);
}